@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
	--color-1: #f0f2f5;
	--color-2: #0866ff;
	--color-3: #42b72a;
	--color-4: #ffffff;
	--color-5: #000000;

	--color-5-rbga-1: rgba(0, 0, 0, 0.1);
	--color-5-rgba-2: rgba(0, 0, 0, 0.2);
	--color-5-rgba-4: rgba(0, 0, 0, 0.4);
	--color-3-hover: #379e22;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-1);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: auto;
}
main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content{
	width: 980px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 80px;
	padding-bottom: 40px;
}

.mensagem {
	display: flex;
	flex-direction: column;
	gap: 13px;
	width: 500px;
	padding-bottom: 8px;
}

.facebook-logo {
	height: 106px;
	margin: -28px;
}

.facebook-msg{
	font-size: 28px;
	line-height: 32px;
	font-family: "Roboto", Calibri, sans-serif;
	font-weight: 200;
	font-style: normal;
	width: 500px;
	
}
.login {
	width: 396px;
	height: 456px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	
}
.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	background-color: var(--color-4);
	margin-top: 70px;
	padding: 20px;
	border-radius: 8px;
	width: 396px;
	box-shadow: 0 2px 4px var(--color-5-rbga-1), 0 8px 16px var(--color-5-rbga-1);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

form input{
	width: 360px;
	height: 55px;
	font-size: 16px;
	border-radius: 6px;
	border: 1.9px solid var(--color-5-rbga-1);
}
form input[type="text"], input[type="password"]{
	padding-left: 15px;
}

form input:focus{
	outline: none;
	border: 1.9px solid var(--color-2);
}
form input:focus::placeholder{
	color: var(--color-5-rgba-2);
}

form input[type="button"]{
	height: 48px;
	background-color: var(--color-2);
	color: var(--color-4);
	font-family: 'Roboto', Calibri, sans-serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.8px;
	border: none;
	cursor: pointer;
	text-align: center;

}
.esqueceu-a-senha > a{
	text-decoration: none;
	color: var(--color-2);
	font-family: 'Roboto', Calibri, sans-serif;
	font-size: 11pt;
	font-weight: 300;
}

.line{
	width: 360px;
	height: 1px;
	background-color: var(--color-5-rbga-1);
	
}
.nova-conta{
	margin-top: 10px;

}
.nova-conta-btn{
	background-color: var(--color-3);
	color: var(--color-1);
	text-decoration: none;
	border: none;
    border-radius: 6px;
    padding: 15px 16px;
	font-family: 'Roboto', Calibri, sans-serif;
	letter-spacing: 1.2px;
	font-size: 12pt;
	font-weight: 600;
    line-height: 48px;
}

.nova-conta-btn:hover{
	background-color: var(--color-3-hover);
}
.sugestao{
	margin-top: 20px;
	font-family: "Arial", sans-serif;
	font-size: 10.5pt;
	text-align: center;

}
.sugestao > a{
	color: var(--color-5);
	text-decoration: none;
    
}

footer{
	width: 100%;
	background-color: var(--color-4);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	font-family: "Roboto", sans-serif;
	font-size: 10pt;
}

.conteudo-rodape{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 70%;
}
.idiomas, .menu-rodape{
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}
.idiomas a, .menu-rodape a {
	color: var(--color-5-rgba-4);
	text-decoration: none;
}
.linha-rodape{
	background-color: var(--color-5-rbga-1);
	width: 100%;
	height: 1px;
	margin: 12px 0;
}

.copyright{
	font-size: 8pt;
	margin-top: 10px;
}
